<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Item</title>
</head>

<body>
    <center>
        <h1>Add New Item</h1>
        <form method="post">
            <input type="text" placeholder="brand id" name="BrandId">
            <input type="text" placeholder="size id" name="SizeId">
            <input type="text" placeholder="item name" name="name">
            <input type="text" placeholder="item price" name="price">
            <input type="text" placeholder="item stock" name="stock">
            <input type="text" placeholder="item code" name="code">
            </br>
            </br>
            <button>Add</button>
        </form>
    </center>
</body>

</html>