    <%- include('./partials/header')%>
    <div class="ui tall stacked segment">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <img src="/body.jpeg" alt="">
    </div>
    <%- include('./partials/footer')%>
