<%- include('./partials/header')%>
  <form class="ui form" action="" method="post">
    <input name="name" type="text" placeholder="Name">
    <input name="email" type="text" placeholder="Email">
    <input name="password" type="text" placeholder="Password">
    <input class="ui primary button" type="submit" value="Submit">
  </form>
<%- include('./partials/footer')%>
