<%- include('../partials/header')%>
<div class="ui tall stacked segment">
<div id="barcode">
	<video id="barcodevideo" controls autoplay></video>
	<canvas id="barcodecanvasg"></canvas>
</div>
<canvas id="barcodecanvas"></canvas>
<div id="result"></div>
</div>
<%- include('../partials/footer')%>